<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="david.com.healthyhankering" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preference1Activity"
            android:label="@string/title_activity_preference1"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="david.com.healthyhankering.HomeActivity" />
        </activity>
        <activity
            android:name=".Preference2Activity"
            android:label="@string/title_activity_preference2"
            android:parentActivityName=".Preference1Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="david.com.healthyhankering.Preference1Activity" />
        </activity>
        <activity
            android:name=".Preference3Activity"
            android:label="@string/title_activity_preference3"
            android:parentActivityName=".Preference2Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="david.com.healthyhankering.Preference2Activity" />
        </activity>
        <activity
            android:name=".GPSActivity"
            android:label="@string/title_activity_gps"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="david.com.healthyhankering.HomeActivity" />
        </activity>
        <activity
            android:name=".PedometerActivity"
            android:label="@string/title_activity_pedometer"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="david.com.healthyhankering.HomeActivity" />
        </activity>
        <activity
            android:name=".Preference4Activity"
            android:label="@string/title_activity_preference4" >
        </activity>
    </application>

</manifest>
